
$main-color: #13CE66;


body {
  width: 1200px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app {
  &__header {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 120px;
    align-items: center;
    background-color: $main-color;
    border-radius: 10px;
  }
  &__logo {
    position: absolute;
    width: 55px;
    margin-left: 40px;
  }
  &__title {
    position: absolute;
    left: 45%;
    font-size: 50px;
    font-family: Lato;
    font-weight: bold;
  }

}


.nav {
  margin-top: 20px;
  width: 20%;
  padding: 10px 10px 10px 10px;
  height: 780px;
  background-color: $main-color;
  border-radius: 10px;
    &__items {
      margin-top: 30px;
      text-align: center;
    }
      &__item a{
        color: #FFFFFF;
        font-family: Lato;
        font-size: 30px;
        line-height: 44px;
        text-decoration: none;
      }
      &__item_last a{
        color: #FFFFFF;
        font-family: Lato;
        font-size: 30px;
        line-height: 100px;
        text-decoration: none;
      }
}
.content-wrapper {
  display: flex;
}

.content {
  padding: 0 0 0 20px;
  margin-top: 20px;
  width: 100%;
}

.top {
    &__img {
      width: 100%;
      height: 250px;
    }
}

.profile {
  display: flex;
  margin-top: 80px;
    &__avatar {
      width: 350px;
    }
}

.user {
    &__data {
      margin-top: 80px;
      margin-left: 40px;
    }
    &__title {
      color: #47525E;
      font-family: Lato;
      font-size: 26px;
      font-weight: bold;
    }
    &__item {
      color: #47525E;
      font-family: Lato;
      text-decoration: none;
      font-weight: normal;
    }
    &__name {
      line-height: 90px;
      font-size: 50px;
      text-decoration: none;
      color: $main-color;
      font-family: Lato;

    }
}

